- name: Run setup to gather date fact
  setup:
  delegate_to: localhost
  run_once: true

- name: Set timestamp for log file
  set_fact:
    timestamp: "{{ ansible_date_time.iso8601_basic_short }}"
  delegate_to: localhost
  run_once: true

- name: Clear up existing log file
  file:
    dest: "{{ local_dir_ppc }}/{{ log_file_name }}_{{ timestamp }}.log"
    state: absent
  delegate_to: localhost
  run_once: true

- name: Create log file
  file:
    dest: "{{ local_dir_ppc }}/{{ log_file_name }}_{{ timestamp }}.log"
    state: touch
  delegate_to: localhost
  run_once: true
